###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################
DATA_PATH=./../data
NETWORKS_DRIVER=bridge
TIMEZONE=UTC+8

### MySQL #################################################
MYSQL_DATABASE=default
MYSQL_USER=thooh
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d
MYSQL_LOG_PATH=./../logs/mysql

### 56 #################################################
MYSQL56_PORT=3356

### 57 #################################################
MYSQL57_PORT=3357

### latest #################################################
MYSQL_PORT=3306

### slave #################################################
MYSQL_SLAVE_PORT=33061